body {
    font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

.TopLogo {
    max-height: 45px;
}

.bd-callout-lcg {
    border-left-color: #4F2B61
}

.bd-callout-grey1 {
    background-color: #F5F5F5;
}

.bd-callout-grey2 {
    background-color: #CCCCCC;
}

.btn-lcg {
    background-color: #4F2B61;
    border-color: #4F2B61;
    color: #FFFFFF;
}

.btn-lcg:link,
.btn-lcg:active,
.btn-lcg:visited {
    background-color: #4F2B61;
    color: #FFFFFF;
    border-color: #4F2B61;
}

.btn-lcg:hover {
    background-color: #f2ebfb;
    color: #4F2B61;
    border-color: #8B4CAB;
}

.ScrollPanel {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 10px;
    max-height: 780px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.navbar ol {
    margin-bottom: 0;
}

.resultspanel {
    margin-right: 0px;
    padding-right: 0px;
}

.checkbox input[type="checkbox"] {
    margin-right: 5px;
}

ol.breadcrumb li.breadcrumb-item {
    color: #4F2B61;
}

ol.breadcrumb li.breadcrumb-item a:link,
ol.breadcrumb li.breadcrumb-item a:active,
ol.breadcrumb li.breadcrumb-item a:visited {
    color: #4F2B61;
    text-decoration: none;
}

ol.breadcrumb li.breadcrumb-item a:hover {
    color: #8B4CAB;
}

ol.breadcrumb li.active {
    font-weight: bold;
}